CONFIG_START

    _num_registers 
        8

    _register_start_values
        3 4 6 21 3 4 9 0 _end

    _reservation_station_group_start
        _entries 
            2
        _operations
            ADD _end
        _latency
            5   _end
    _reservation_station_group_end

    _reservation_station_group_start
        _entries 
            2
        _operations
            SUB _end
        _latency
            5   _end
    _reservation_station_group_end

    _reservation_station_group_start
        _entries
            2
        _operations
            MUL DIV _end
        _latency
            5  5 _end
    _reservation_station_group_end

CONFIG_END