ConfigStart

    NumRegisters 
        8

    RegisterStartValues
        3 4 6 21 3 4 9 0 End

    ReservationStationGroupStart
        Entries 
            3
        Operations
            ADD SUB End
        Latency
            2   2 End
    ReservationStationGroupEnd

    ReservationStationGroupStart
        Entries
            2
        Operations
            MUL DIV End
        Latency
            10  40   End
    ReservationStationGroupEnd

ConfigEnd
