CONFIG_START

    _num_registers 
        8

    _register_start_values
        3 4 6 21 3 4 9 0 _end

    _reservation_station_group_start
        _entries 
            3
        _operations
            ADD SUB _end
        _latency
            2   2 _end
    _reservation_station_group_end

    _reservation_station_group_start
        _entries 
            2
        _operations
            MUL DIV _end
        _latency
            10  40   _end
    _reservation_station_group_end

CONFIG_END
